{% extends 'base.html' %}
{% block content %}
{% load static %}

  {% include 'partials/navbar.html' %}

      <div class="px-4 pb-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="{% static 'img/image.png' %}" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold text-body-emphasis">Welcome to the PyPassword Generator!</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Enter the below values.</p>
        </div>
        <form action="{% url 'generate' %}" method="get">
          <div class="mb-3">
            <label for="num_letters" class="form-label">How many letters would you like in your password?</label>
            <input type="number" class="form-control" id="num_letters" name="letters">
          </div>
          <div class="mb-3">
            <label for="num_symbols" class="form-label">How many symbols would you like?</label>
            <input type="number" class="form-control" id="num_symbols" name="symbols">
          </div>
          <div class="mb-3">
            <label for="num_numbers" class="form-label">How many numbers would you like?</label>
            <input type="number" class="form-control" id="num_numbers" name="numbers">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="check">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">GENERATE</button>
        </form>
        
      </div>

{% endblock %}